<section>
    <a href="/dashboard">Back</a>
    <h2>Create A New Blog Post</h2>

    <form class="new-post-form">
        <div>
            <label for="post-title">Title:</label>
            <input class="input" type="text" id="post-title" name="post-title" placeholder="Enter your title here">

        </div>

        <div>
           <label for="post-content">Content:</label> 
           <input class="input" type="text" id="post-content" name="post-content" placeholder="Enter your content here">
        </div>

        <button type="submit">Create Post</button>
    </form>
</section>

<script src="../public/js/add-post.js"></script>