
    <h2>Log In</h2>

    <form class='form login-form'>
  

        <label for='email-login'>Email:</label>
        <input class='form-input' type='text' id='email-login' />
      </div>

    
        <label for='password-login'>Password:</label>

        <input class='form-input' type='password' id='password-login' />
   


        <button  type='submit'>Sign In</button>
   
    </form>
  </div>


<script src='/js/login.js'></script>