<h2>Sign Up</h2>

<form class='signup-form'>
  <div>
    <label for='name-signup'>Username:</label>
    <input placeholder="Type in your username" type='text' id='name-signup' />
  </div>
  
  <div>
    <label for='email-signup'>Email:</label>
    <input placeholder='Email' type='text' id='email-signup' />
  </div>

  <div>
    <label for='password-signup'>Password:</label>
    <input placeholder='Password ' type='password' id='password-signup' />
  </div>
  

  <div>
    <label for='bio-signup'>Bio:</label>
    <input placeholder='Tell us about yourself' type='text' id='bio-signup' />
  </div>
  <div>
    <button type='submit'>Sign Up</button>
  </div>
</form>
</div>
</div>

<script src="/js/signup.js"></script>